{% extends 'project/base.html' %}

{% block content %}
<div class="container">
    <div class="centered">
        <h1> Welcome to the Coffee and Cats Cafe!</h1>
        <h3> Offering furry company, sweet treats, and a good time!</h3>    
    </div>

    <img class="center" src="https://t4.ftcdn.net/jpg/03/26/12/23/360_F_326122335_RKvTXMb4RYkIzk94ZoPjkZQe2CUOVnen.jpg"> 
</div>
<div class="profile-container">
    <div>
        <h3 style="text-align: center;">Open Hours</h3>
        <table>
            <tr>
                <th>Monday - Friday</th>
                <td>10 AM - 9PM</td>
            </tr>
            <tr>
                <th>Saturday</th>
                <td>10 AM - 9 PM</td>
            </tr>
            <tr>
                <th>Sunday</th>
                <td>Closed</td>
            </tr>
        </table>
    </div>
    <div>
        <h3 style="text-align: center;">About Us</h3>
        <p>
            We are a cat cafe small-business! What is a cat cafe you may ask? Simply, we are a regular
            coffee shop with the addition of company from our furry friends! All you have to do is fill
            out our for to reserve a time and come by to enjoy some good drinks with cats! If you become
            interested in one of our residents, please feel free to check which cats are available for adoption
            and apply with our form!
        </p>
    </div>
</div>

{% endblock %}