{% extends 'restaurant/base.html' %}

{% block content %}
<h3>Home of Bikini Bottom's famous Krusty Krab Burger!</h3>
<p>Located at: 124 Conch Street, 01230 Bikini Bottom, Pacific Ocean</p>
<br>
<img src={{krusty_krab}} width="1000" >

<div id="hours_of_operation">
    <table>
        <tr>
            <th colspan="2">Hours of Operation</th>
        </tr>
        <tr>
            <td>Monday to Thursday</td>
            <td>10:00 AM - 10:00 PM</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>11:00 AM - 10:00 PM</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>11:00 AM - 12:00 AM</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>11:00 AM - 8:00 PM</td>
        </tr>
    </table>
</div>


{% endblock %}