<!-- blog/template/minifb/show_all.html -->
{% extends 'minifb/base.html' %}

{% block content %}
<h1>Showing all profiles:</h1>

<!-- print out the context variables called articles -->

<!--{{articles}}-->
<main class="grid-container">  <!--formerly a div tag-->
    {% for p in profiles %}
    <profile>  <!--formerly a div tag-->

        <img src={{p.image_url}} width="300">

        <div>
            <h2>{{p.firstname}} {{p.lastname}}</h2>
            <h3>Hometown: {{p.city}}</h3>
          
        </div>

    </profile>
    {% endfor %}
</main>


{% endblock %}