{% extends 'mini_fb/base.html' %}

{% block content %}
<a href="{% url 'show_profile' profile.pk %}">Go back to {{profile.firstname}}'s Profile</a>
<h2>Showing Friend Suggestions for {{profile.firstname}}</h2>
<main class="grid-container"> 
    {% for f in profile.get_friend_suggestions %}
        <profile>
            <a href="{% url 'show_profile' f.pk %}">
                <img src="{{f.image_url}}" width="150">           
                <p>{{f.firstname}} {{f.lastname}}</p>
            </a> <br>
            <a href="{% url 'add_friend' pk=profile.pk other_pk=f.pk %}">Add Friend</a>
        </profile>
    {% empty %}
    <p>No friend suggestions available.</p>
    {% endfor %}

{% endblock %}