{% extends 'mini_fb/base.html' %}

{% block content %}

<!-- Nav only for profile owner -->
<nav>
    <ul>
        {% if request.user.is_authenticated and request.user == profile.user%}
        <li><a href="{% url 'news_feed' %}">Newsfeed</a></li>
        {% endif %}        
    </ul>
 </nav>


<h1>Current Profile</h1>

<!-- print out the context variables called profile -->

<!--{{profile}}-->
<main class="grid-container">  <!--formerly a div tag-->
    <profile class="featured">  <!--formerly a div tag-->

        <img src={{profile.image_url}} width="200">

        <div>
            <h2>{{profile.firstname}} {{profile.lastname}}</h2>
            <h3>Hometown: {{profile.city}}</h3>
            <p>contact: {{profile.email}}</p>
            {% if request.user.is_authenticated %}
            {% if request.user == profile_user %}
            <p><a href="{% url 'update_profile' %}">Update Profile</a></p>
            {% endif %}
            {% endif %}

        </div>

    </profile>

    <div>
        <h2>Status Messages</h2>
        {% if request.user.is_authenticated and request.user == profile.user %}
        <h3><a href="{% url 'create_status' profile_user.pk %}">Create new status post</a></h3>
        {% endif %}

        {% for p in profile.get_status_messages %}
        <div>
            <strong>posted on: {{p.timestamp}}</strong>
            {% for img in p.get_images %}
                <img src='{{img.image.url}}' alt='{{img.image.url}}' width="150">
            {% endfor %}            
            <p>
                {{p.message}}
            </p>
            {% if request.user.is_authenticated and request.user == profile.user %}
            <a href="{% url 'delete_status' p.pk %}">delete</a> 
            <a href="{% url 'update_status' p.pk %}">update</a> 
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div>
        <h2>{{profile.firstname}}'s Friends</h2>
        {% for f in profile.get_friends %}
            <a href="{% url 'show_profile' f.pk %}">
                <img src="{{f.image_url}}" width="100"> 
                <p>{{f.firstname}} {{f.lastname}}</p>
            </a>
        {% endfor %}
        {% if request.user.is_authenticated and request.user == profile.user %}
        <br>
        <a href="{% url 'friend_suggestions' %}"><h3>Friend Suggestions</h3></a>
        {% endif %}
    </div>
</main>

{% endblock %}
