<!-- blog/template/minifb/show_all.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>Showing all profiles:</h1>

<!-- print out the context variables called articles -->

<!--{{articles}}-->
<main class="grid-container">  <!--formerly a div tag-->
    {% for p in profiles %}
    <profile>  <!--formerly a div tag-->

        <a href="{% url 'show_profile' p.pk %}">
            <img src={{p.image_url}} width="300">            
        </a>


        <div>
            <a href="{% url 'show_profile' p.pk %}">
                <h2>{{p.firstname}} {{p.lastname}}</h2>
            </a>
            <h3>Hometown: {{p.city}}</h3>
          
        </div>

    </profile>
    {% endfor %}
</main>


{% endblock %}