{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>Current Profile</h1>

<!-- print out the context variables called profile -->

<!--{{profile}}-->
<main class="grid-container">  <!--formerly a div tag-->
    <profile class="featured">  <!--formerly a div tag-->

        <img src={{profile.image_url}} width="200">

        <div>
            <h2>{{profile.firstname}} {{profile.lastname}}</h2>
            <h3>Hometown: {{profile.city}}</h3>
            <p>contact: {{profile.email}}</p>
            <p><a href="{% url 'update_profile' profile.pk %}">Update Profile</a></p>

        </div>

    </profile>

    <div>
        <h2>Status Messages</h2>
        <h3><a href="{% url 'create_status' profile.pk %}">Create new status post</a></h3>

        {% for p in profile.get_status_messages %}
        <div>
            <strong>posted on: {{p.timestamp}}</strong>
            {% for img in p.get_images %}
                <img src='{{img.image.url}}' alt='{{img.image.url}}' width="150">
            {% endfor %}            
            <p>
                {{p.message}}
            </p>
            <a href="{% url 'delete_status' p.pk %}">delete</a> 
            <a href="{% url 'update_status' p.pk %}">update</a> 
        </div>
        {% endfor %}

    </div>
</main>


{% endblock %}