<!--This is the base page from which all other pages will inhereit
    put common code here, specific code in other pages -->


    {% load static %}
    <html>
        <head>
            <title>Quote of the Day</title>
            <link rel="stylesheet" href="{% static '/quote_styles.css' %}">
        </head>
        
        <body>
            <h1>Gordon Ramsey's Quote of the Day!</h1>
            <br>
            <nav>
                <ul>
                    <!-- use the scriptlet url function to look up a url by name-->
                    <a href="{% url 'quote' %}">Quote</a>
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'show_all' %}">Show All</a>
                </ul>
            </nav>
            {% block content %}
    
            {% endblock %}

        </body>
    </html>